
body{
    background-image: url("https://www.dreamtemplate.com/dreamcodes/bg_images/color/c4.jpg");
    color: white;
}

#prompt-display {
    margin-top:250px;
    padding: 10px;
}

div[class^='col-md-'] {
    padding:30px;
}

input {
    margin-left: 10px;
}

header {
    margin-top: 20px;
}

li {
    margin:10px;
}

.btn-primary {
    margin:10px;
    min-width: 75px;
}

.btn-warning {
    min-width: 200px;
}