
body{
    background-image: url("https://www.dreamtemplate.com/dreamcodes/bg_images/color/c4.jpg");
    color: white;
}


#prompt-display {
    margin-top:250px;
}

ul {
    list-style-type: none;
}

button {
    margin: 5px;
    min-width: 75px;
}